.btn {
    font-family: Ubuntu-B, sans-serif;
    border-radius: rem(5px);
    padding: rem(10px) rem(15px);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: $black;
    font-size: rem(13px);
    transition: .7s;
    cursor: pointer;
    &:hover {
        background: $black_deep;
    }
}

.btn--red {
    background: $red;
    &:hover {
        background: $hover;
    }
}

.button__reset {
    outline: initial;
    border: initial;
    background: initial;
    color: #fff;
    //   &:active, &:hover {
    //     border-radius: 5px;
    //     padding: 10px 15px;
    //     color: #fff;
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     background: $red;
    //     font-size: 13px;
    //   }
}