.footer {
    padding: rem(5px) 0;
    min-height: rem(60px);
    background: url('../../img/bg/footer_bg.jpg')center center / cover no-repeat;
}

.container--footer {
    font-family: Ubuntu-light;
    font-size: rem(14px);
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__adres {
    font-style: normal;
    margin-bottom: rem(10px);
}

.footer__phone {
    text-decoration: none;
    color: $red;
    display: block;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: rem(13px);
        height: rem(13px);
        background: url('/img/icons/phone.svg') no-repeat;
    }
}

// _____ social _____
.social__list {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: rem(20px);
    &:last-child {
        margin-right: initial;
    }
}

.vk {
    width: rem(24px);
    height: rem(13px);
    fill: white;
    transition: .6s;
    &:hover {
        fill: #5a5a5a;
    }
}

.fb {
    width: rem(20px);
    height: rem(20px);
    fill: white;
    transition: .6s;
    &:hover {
        fill: #5a5a5a;
    }
}

.inst {
    width: rem(20px);
    height: rem(20px);
    fill: white;
    transition: .6s;
    &:hover {
        fill: #5a5a5a;
    }
}

.twit {
    width: rem(20px);
    height: rem(17px);
    fill: white;
    transition: .6s;
    &:hover {
        fill: #5a5a5a;
    }
}