.structure {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

// _____ Structure__button _____
.structure__button {
    width: rem(90px);
    height: rem(90px);
    background: $red;
    border-radius: rem(5px);
    position: relative;
    transition: .6s;
    &:hover {
        background: $hover;
    }
    &:active~.structure__block {
        display: block;
    }
}

.structure__button-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.structure__button-pic {
    width: rem(47px);
    height: rem(44px);
    background: url('/img/icons/burger.svg') center center / cover no-repeat;
    margin-bottom: rem(5px);
}

.structure__button-text {
    font-family: Gagalin-Regular, sans-serif;
    font-size: rem(14px);
    color: white;
    line-height: .8;
}

// _____ Structure__block _____
.structure__block {
    padding: rem(20px);
    background: rgba(#fff, .9);
    border-radius: rem(5px);
    display: none;
}

.structure__item {
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
}

.structure__item-icon {
    width: rem(46px);
    height: rem(42px);
    margin-right: rem(20px);
    &.beef {
        background: url('/img/icons/beef.svg') center center / cover no-repeat;
    }
    &.buns {
        width: rem(50px);
        height: rem(32px);
        background: url('/img/icons/buns.svg') center center / cover no-repeat;
    }
    &.salad {
        width: rem(40px);
        height: rem(40px);
        background: url('/img/icons/salad.svg') center center / cover no-repeat;
    }
    &.sauce {
        width: rem(42px);
        height: rem(44px);
        background: url('/img/icons/sauce.svg') center center / cover no-repeat;
    }
    &.cucumber {
        width: rem(45px);
        height: rem(40px);
        background: url('/img/icons/cucumber.svg') center center / cover no-repeat;
    }
    &.cheese {
        width: rem(40px);
        height: rem(38px);
        background: url('/img/icons/cheese.svg') center center / cover no-repeat;
    }
}

.structure__item-title {
    margin-right: rem(20px);
    font-family: Ubuntu-B, sans-serif;
}

.structure__item-weight {
    text-align: right;
}